#headmenu {
	display: table;
}

#headmenu a:link {
	font-size: larger;
}
#headmenu div {
	display:table-cell; 
	padding-right: 20px;
}


a:link {
	color: cornflowerBlue;
	text-decoration: none;
}

a:visited {
	color: indigo;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

a:active {
	color: red;
}

.pageheading {
	color: darkblue;
}


table {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
}

th {
	background: darkblue;
	color: cornsilk;
	font-size: larger;
}

table.form {
	border: 0;
	padding: 5px;
	
}

button {
	padding: 6px;
	border-radius: 5px;
}

button[type=submit] {
	font-weight: bold;
}

button:hover {
	background-color: white;
	color: green;
}

input {
	border: 1px solid;
	border-radius: 4px;	
	border-color: green;
	height: 20px;
}

.message {
	font-style: italic;
	color: blue;
}

.error {
	color: red;
	font-style: italic;
	margin: 5px;
}

div.center {
	text-align: center;
}



table.normal {
	border: 0;
}

div.soda_group {
	width: 80%; 
	margin: 0 auto;
}

div.next-row {
	clear:both;
}

img.soda-small {
	width: 128px; height: 164px;
}

img.soda-large {
	width: 240px; height: 300px;
}

#soda-name {
	font-size: x-large;
	font-weight: bold;
}

#manufacture {
	font-size: large;
	font-style: italic;
}

#description {
	text-align: justify;
	vertical-align: top;
}
